<div class="row">
    <div class="col-xs-12">
        <h2>Dodaj rezerwację</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 text-right">Typ imprezy</label>
                <div class="col-xs-9">
                    <select ng-model="formData.eventType" class="form-control">
                        <option>Impreza firmowa</option>
                        <option>Urodziny</option>
                        <option>Imieniny</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 text-right">Wybór sali</label>
                <div class="col-xs-9">
                    <label class="radio-inline">
                        <input ng-model="formData.roomType" type="radio" name="room-type" value="room-general">
                        Miejsce w sali ogólnej
                    </label>
                    <label class="radio-inline">
                        <input ng-model="formData.roomType" type="radio" name="room-type" value="room-separate">
                        Osobna sala
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 text-right">Dodatkowe informacje</label>
                <div class="col-xs-9">
                    <input ng-model="formData.comment" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <button ng-click="submitForm()" class="btn btn-primary">Zapisz</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-6">
        <img id="restaurant-photo-1" src="https://www.wien.info/media/images/41993-das-loft-sofitel-19to1.jpeg">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="restaurant-photo-2"></div>
    </div>
</div>
