<div class="container" style=" background-color: lightgray">

    <div class="welcome-text">
        <p>Witaj na stronach rezerwacji stolików i imprez naszej restauracji </p>
        <span>Tutaj możesz zarówno zarezerwować stolik na obiad, kolację w rodzinnym gronie, ale i
    zorganizować imprezę rodzinną lub firmową </span>
        <span>W kilku prostych krokach powiedz nam czego potrzebujesz a my zorganizujemy Ci niezapomniany czas który będziesz długo wspominał</span>
    </div>

    <div class="steps">
        <p>Krok 1 wybierz jaką imprezę chciałbyś zorganizować</p>
    </div>

    <!--<section id="MENU"> -->

    <div class="row col-xs-12">
        <label class="radio-inline col-xs-6">
            <input type="radio" class="reservationType" ng-model="reservationType" name="reservationType" ng-value="1">
            Tylko
            rezerwacja stolika(ów)
        </label>
        <label class="radio-inline col-xs-6">
            <input type="radio" class="reservationType" ng-model="reservationType" name="reservationType" ng-value="2">
            Rezerwacja z cateringiem
        </label>
    </div>
</div>
<div class="row">
    <div class="steps col-xs-12">
        <span> Krok 2  Naciśnij "Dalej", system przekieruje cie do wybranej rezerwacji</span>
        <br>
        <br>
        <div class="row col-xs-12 col-xs-offset-5">
            <input type="button" class="btn btn-primary" value="Dalej" ng-click="checkValue()">
        </div>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div my-example="Hello world" my-data="123"></div>
    </div>
</div>
