<!-- <div class="row">--->
<!-- TODO WIP remove once finish-->
<!--<p ng-init="addRow({name: 'Krewetki królewskie', 'description': 'Lorem ipsum bla bla bla...'})"> Fake init</p>-->

<div class="container" style=" background-color: #EFEFEF"> <!-- zaczynam kontener strony -->
    <div class="row " style=" margin: 5px;"> <!-- Zaczynam akapit nagłówkai -->
        <div class="col-xs-12">
            <div class=" reservation-title col-xs-12">
                Wypełnij formularz i wybierz dodatkowe opcje swojej rezerwacji
            </div>
        </div>
    </div> <!-- kończe akapit nagłówka-->


    <div class="form-horizontal "> <!-- rozpoczęcie formularza wprowadzania danych rezerwacji -->


        <div class="col-xs-12" style="margin-bottom: 30px">
            <div class="row">
                <div class="form-group " style="margin-left: 30px">
                    <label class="noPerLabel col-xs-3 ">Prosze podaj liczbę
                        gości </label>
                    <div class="noOfperson col-xs-3">
                        <input ng-model="formData.personsCount" class="form-control " type="number">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="noPerLabel col-xs-3 ">Prosze podaj dzień i godzinę </label>
                <div class="noOfperson col-xs-3">
                    <input ng-model="formData.dateTimeOfReservation" class="form-control " type="datetime-local">
                </div>
                <input class="btn btn-primary btn-sm" type="button" value="Sprawdź dostępność"
                       style="margin-top:7px;">
            </div>
            <div class="row">
                <label class="noPerLabel col-xs-3 ">Prosze podaj numer telefonu </label>
                <div class="noOfperson col-xs-3">
                    <input ng-model="formData.telephoneNumber" class="form-control" type="text"
                           placeholder="123-123-123">
                </div>
            </div>
            <div class="row">
                <label class="noPerLabel col-xs-3 ">Prosze podaj email </label>
                <div class="noOfperson col-xs-3">
                    <input ng-model="formData.Mail" class="form-control" type="text"
                           placeholder="jan.kowalski@mail.com">
                </div>
            </div>
            <div class="row">
                <label class="noPerLabel col-xs-3 ">Dodatkowe informacje </label>
                <div class="noOfperson col-xs-3">
                    <input ng-model="formData.Mail" class="form-control  " type="text"
                           placeholder="Dodatkowe informacje" style="height: 100px; text-align: start">
                </div>
            </div>
        </div>
    </div>
    <!-- Zaczynam akapit dodatków do rezerwacji -->


    <div class="accessories-title">W tym miejscu mozesz wybrać dodatki do rezerwacji</div>


    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-3 ">
                <label class="boxForChecking">
                    <input ng-model="formdata.accesories_1" type="checkbox">
                    <span class="boxForCheckingBckg"></span>
                </label>
                <p style=" height:20px; text-align: center">Świece dekoracyjne</p>
            </div>

            <div class="col-xs-3">
                <label class="boxForChecking">
                    <input ng-model="formdata.accesories_2" type="checkbox">
                    <span class="boxForCheckingBckg_candle"></span>
                </label>
                <p style=" height:20px; text-align: center;">Serwetka dekoracyjna </p>
            </div>
            <div class="col-xs-3">
                <label class="boxForChecking">
                    <input ng-model="formdata.accesories_3" class="accessories_1" type="checkbox">
                    <span class="boxForCheckingBckg_candle_visit_cards"></span>
                </label>
                <p style=" height:20px; text-align: center">Wizytówki</p>
            </div>
            <div class="col-xs-3">
                <label class="boxForChecking">
                    <input ng-model="formdata.accesories_4" class="accessories_1" type="checkbox">
                    <span class="boxForCheckingBckg_aperitif"></span>
                </label>
                <p style=" height:20px; text-align: center;">Aperitif </p>
            </div>
        </div>
    </div> <!-- kończe akapit dodatków do rezerwacji -->


    <!-- zaczynam kontrolowanie sekcji menu-->

    <div class="row">
        <div clas="col-xs-12">
            <hr style="height: 3px; background: lightgray; border: 0px;">
            <p class=" col-xs-5 reservation-title" style="top: -10px;text-align: left">Czy chciałbyś wybrać
                menu </p>
            <div clas="col-xs-3">
                <label class="switch">
                    <input type="checkbox" ng-model="reservationType" name="reservationType" ng-value="2">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div ng-show="reservationType">
    <!-- kończe kontrolowanie sekcji menu -->
    <!-- Zaczynam akapit menu -->
    <!-- nowy tab start -->
    <div class="row">
        <div class="col-xs-8">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Przystawki" style="font-family: 'Cormorant Garamond', cursive;
                        font-weight: bold; font-size: 25px; color: black">
                    <table class="table  table-bordered">
                        <tr ng-repeat="dish in dishes">
                            <td>{{dish.name}}
                                {{dish.description}}
                            </td>
                            <td><input class="btn btn-outline-info" type="button" ng-click="addRow(dish)"
                                       value="Dodaj"></td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab index="1" heading="Dania główne" style="font-family: 'Cormorant Garamond', cursive;
                        font-weight: bold; font-size: 25px; color: black">Dania główne
                </uib-tab>
                <uib-tab index="2" heading="Zupy" style="font-family: 'Cormorant Garamond', cursive;
                        font-weight: bold; font-size: 25px; color: black">Zupy
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-xs-4 ">
            <h3>Wybrane menu </h3>
            <p ng-if="!selectedDishes && selectedDishes.length">Nie wybrano żadnych dań</p>
            <table ng-if="selectedDishes && selectedDishes.length" class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Calculated price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dish in selectedDishes">
                    <td>{{dish.name}}</td>
                    <td>{{dish.description}}</td>
                    <td>{{dish.calculatedPrice}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- kończe akapit menu -->
</div> <!-- kończe formularza wprowadzania danych rezerwacji -->

