<!-- <div class="row">--->
<!-- TODO WIP remove once finish-->
<!--<p ng-init="addRow({name: 'Krewetki królewskie', 'description': 'Lorem ipsum bla bla bla...'})"> Fake init</p>-->

<div class="container"> <!-- zaczynam kontener strony -->
    <div class="row"> <!-- Zaczynam akapit nagłówkai -->
        <h2>Wypełnij formularz i wybierz dodatkowe opcje swojej rezerwacji</h2>
    </div> <!-- kończe akapit nagłówka-->


    <div class="form-horizontal "> <!-- rozpoczęcie formularza wprowadzania danych rezerwacji -->
        <div class="row">
            <div class="col-xs-7" style="margin-bottom: 30px">
                <div class="form-group ">
                    <label class="formReservationLabels col-xs-6 ">Prosze podaj liczbę
                        gości </label>
                    <div class="noOfperson col-xs-6">
                        <input ng-model="formData.personsCount" class="form-control " type="number"
                               ng-change="drawCircles(); personLabelTable()">
                    </div>
                </div>
                <div class="row">
                    <label class="formReservationLabels col-xs-6 ">Prosze podaj dzień i godzinę </label>
                    <div class="noOfperson col-xs-5">
                        <input ng-model="formData.dateTimeOfReservation" class="form-control " type="datetime-local">
                    </div>
                    <input class="helpButton" type="button"/>
                </div>
                <div class="row">
                    <label class="formReservationLabels col-xs-6 ">Prosze podaj numer telefonu </label>
                    <div class="noOfperson col-xs-6">
                        <input ng-model="formData.telephoneNumber" class="form-control" type="text"
                               placeholder="123-123-123">
                    </div>
                </div>
                <div class="row">
                    <label class="formReservationLabels col-xs-6 ">Prosze podaj email </label>
                    <div class="noOfperson col-xs-6">
                        <input ng-model="formData.Mail" class="form-control" type="text"
                               placeholder="jan.kowalski@mail.com">
                    </div>
                </div>
                <div class="row">
                    <label class="formReservationLabels col-xs-6 ">Dodatkowe informacje </label>
                    <div class="noOfperson col-xs-6">
                        <input ng-model="formData.Mail" class="form-control  " type="text"
                               placeholder="Dodatkowe informacje" style="height: 100px; text-align: start">
                    </div>
                </div>
            </div>
            <table class="table-striped ">
                <thead>
                <tr>
                    <th>Wybrane opcje rezerwacji:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="extras in selectedExtras">
                    <td>Wizytówki: {{extras.selectedImageName}}</td>
                    <td>
                        <button class="btn-sm" type="button" ng-show="extras.showButton=='true'">lista</button>
                    </td>
                    <td>
                        <input class="delete" type="button"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--koniec testu tabów -->

<!-- test tabów -->

<uib-tabset id="reservationOptions">
    <uib-tab index=1 heading="Dekoracja stołu">
        <div ng-if="viewReady">
            <div class="row center vCBackground">
                <div class="col-xs-3 ">
                    <div class="formReservationLabels">Wizytówki dekoracyjne</div>
                </div>
                <div class="col-xs-1 pull-left">
                    <toggle ng-model="toggleValue1" on="Tak" off="Nie"
                            ng-change="changed(); onExtrasToggle('Visit Card')"
                            size="btn-xs"></toggle>
                </div>
            </div>
            <div class="row vCBackground" ng-show="toggleValue1">
                <div class="row"> <!-- test slidera -->
                    <div class="col-xs-1" style="vertical-align: middle">
                        <button class="btn btn-small pull-right " ng-click="previous('Visit Card')"> <</button>
                    </div>
                    <div class="col-xs-10 ">

                        <div class="cardSlider" ng-repeat="card in extras['Visit Card'] " ng-show="card.visible">
                            <img class="cardSlider" src="{{card.Picture}}" alt="{{card.Description}} "
                                 ng-click="checkChoosen(card.Id,'Visit Card')" data-toggle="tooltip"
                                 title="Kliknij na obrazek aby wybrać wzór!">
                        </div>
                    </div>
                    <div class="col-xs-1 ">
                        <button class="btn btn-small pull-left " ng-click="next('Visit Card')"> ></button>
                    </div>
                </div>

                <div class="row" ng-show="images['Visit Card']">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="imgContainer">
                                <img class="bigImage" src="{{images['Visit Card'].Picture}}"
                                     alt="{{images['Visit Card'].Description}} "/>
                                <div class="imgText">
                                    <p>{{images['Visit Card'].Description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <button class="btn-primary btn-small" style="margin-top:20px "
                                    ng-click="visitCardSelect(); extrasCategorySelect('Visit Card')">
                                Wybierz
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="col-xs-3 ">
                    <div class="formReservationLabels">Serwetki ozdobne</div>
                </div>
                <div class="col-xs-1 pull-left">
                    <toggle ng-model="toggleValue2" on="Tak" off="Nie" ng-change="changed(); onExtrasToggle('Napkin')"
                            size="btn-xs"></toggle>
                </div>
            </div>
            <div class="row">
                <div ng-show="toggleValue2"> <!-- test slidera -->
                    <div class="row center" style=" margin-top: 20px">
                        <div class="col-xs-1" style="vertical-align: middle">
                            <button class="btn btn-small pull-right " ng-click="previous('Napkin')"> <</button>
                        </div>
                        <div class="col-xs-10">
                            <div class="cardSlider" ng-repeat="card in extras['Napkin']" ng-show="card.visible">
                                <img class="cardSlider" src="{{card.Picture}}" alt="{{card.Description}} "
                                     ng-click="checkChoosen(card.Id,'Napkin')">
                            </div>
                        </div>
                        <div class="col-xs-1 ">
                            <button class="btn btn-small pull-left " ng-click="next('Napkin')"> ></button>
                        </div>
                    </div>
                    <div class="row " ng-show="images['Napkin']">
                        <div class="col-xs-12 ">
                            <div class="imgContainer">
                                <img class="bigImage" src="{{images['Napkin'].Picture}}"
                                     alt="{{images['Napkin'].Description}} "/>
                                <div class="imgText">
                                    <p>{{images['Napkin'].Description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button class="btn-primary btn-small" style="margin-top:20px "
                                        ng-click="extrasCategorySelect('Napkin')">
                                    Wybierz
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center vCBackground">
                <div class="col-xs-3 ">
                    <div class="formReservationLabels">Świece dekoracyjne</div>
                </div>
                <div class="col-xs-1 pull-left">
                    <toggle ng-model="toggleValue3" on="Tak" off="Nie" ng-change="changed(); onExtrasToggle('Candle')"
                            size="btn-xs"></toggle>
                </div>
            </div>

            <div class="row vCBackground">
                <div ng-show="toggleValue3"> <!-- test slidera -->
                    <div class="row center" style=" margin-top: 20px">
                        <div class="col-xs-1" style="vertical-align: middle">
                            <button class="btn btn-small pull-right " ng-click="previous('Candle')"> <</button>
                        </div>
                        <div class="col-xs-10">
                            <div class="cardSlider" ng-repeat="card in extras['Candle']" ng-show="card.visible">
                                <img class="cardSlider" src="{{card.Picture}}" alt="{{card.Description}} "
                                     ng-click="checkChoosen(card.Id,'Candle')">
                            </div>
                        </div>
                        <div class="col-xs-1 ">
                            <button class="btn btn-small pull-left " ng-click="next('Candle')"> ></button>
                        </div>
                    </div>
                    <div class="row " ng-show="images['Candle']">
                        <div class="col-xs-12 ">
                            <div class="imgContainer">
                                <img class="bigImage" src="{{images['Candle'].Picture}}"
                                     alt="{{images['Candle'].Description}} "/>
                                <div class="imgText">
                                    <p>{{images['Candle'].Description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button class="btn-primary btn-small" style="margin-top:20px "
                                        ng-click="extrasCategorySelect('Candle')">
                                    Wybierz
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </uib-tab>

    <!-- koniec testu slidera -->


    <uib-tab index=2 heading="Przed podaniem">

    </uib-tab>
    <uib-tab index=3 heading="Menu">
        <div class="col-xs-12">
            <uib-tabset id="main-menu">
                <uib-tab class="menu-tab" index="category.id" heading="{{category.name}}"
                         ng-repeat="category in menuTabs">
                    <div ng-repeat="item in menu | filter: {Category_Id: category.id }">
                        <div class="row ">
                            <div class="col-xs-2">
                                <h3>{{item.Dish_Name}}</h3>
                            </div>
                            <div class="col-xs-3">
                                <h5>{{item.Dish_Description}}</h5>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-primary btn-sm" ng-click="addRow(item)">Dodaj</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </uib-tab>

</uib-tabset>






