
#h2 {
    font-family: 'Cabin', sans-serif;
}

.helpButton{
    background: url("../images/help-3.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-top:15px;
    border: none;
}

.nav-tabs{
    background-color:white;
    border:none !important;
}

.nav-tabs > li > a{
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: black;
    padding: 2px;

}
.nav-tabs > li > a:hover{
    background-color: white !important;
    border-radius: 5px;
    color:black;
    border:none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color:white !important;
    color:lightblue !important;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    border:1px !important;
    border-bottom: 5px solid #ac2925 !important;
    margin-bottom: 20px;

}

.cardSliderBlock {
    width: 808px;
    height: 150px;
}
.cardSlider {
    display: inline-block;
    margin-left: 1px;
    width: 103px;
    height: 75px;
    background-size: cover;

}
img.cardSlider:hover {

    border: #000000;
    border-width: 2px;
    border-style: solid;
}

.center {
    display: flex;
    align-items:center;

}
.bigImage {
    width: 250px;
    height: 150px;
}
.imgContainer{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    width: 250px;
    height: 150px;
    background-size: cover;
    left: 39%;
}

.imgContainer .imgText {
    position: absolute; /* Position the background text */
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; /* Grey text */
    padding: 20px; /* Some padding */
     width: 250px;
     height: 20px;
    text-align: center;

}
.visitCardSelected {
    font-size: 15px;

}
.delete {
    background: url("../images/button_cancel.ico");
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-top:5px;
    left: -20px;

    border: none;
}

.clickable {
    cursor: pointer;
    font-weight: Bold;
}

#MENU {
    background: url('../images/home-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.welcome-text {
    background-color: rgba(67, 106, 188, 0.7);

}


.formReservationLabels {
    padding: 10px;
    left: 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: black;
  /*  border-bottom: #DEDEC9;
    border-bottom-style: solid;
    border-bottom-width: 1px; */
    text-align: left;
}

.noOfperson {
    padding: 7px;
    width: 200px;
}

.form-horizontal {
    margin: 15px;
}


.dialog-dish-modal .modal-body {
    background: lightgrey;
}

.nav-link .ng-binding {
    background-color: transparent;
}

.modal-dialog {
    position: relative;
    top: 50%;
}

.modalText {
    font-family: Cormorant+Garamond;
    font-size: 15px;
    margin-bottom: 10px
}

#canvasCircle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    box-shadow: 0 9px 20px -5px rgba(0, 0, 0, 0.8);
}

.columns {
    columns: 3;
}

/* MENU */
#main-menu .tab-pane {
    font-family: 'Cormorant Garamond', cursive;
    font-weight: bold;
    font-size: 25px;
    color: black;
    min-height: 300px;
}

.vCBackground {
    background-image: url("../Images/stripes-light.png");
    background-size: cover;
}

.visitCardText{
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
}

