#restaurant-photo-1 {
    width: 400px;
}

#restaurant-photo-2 {
    width: 500px;
    height: 200px;
    background-image: url("https://www.tropical-islands.de/fileadmin/_processed_/csm_TI_RESTAURANT_PALMBEACH4_RGB_2000x860_70f4da8db5.jpg");
    background-size: cover;
}

.clickable {
    cursor: pointer;
}

#Info {
    width: 15px;
    height: 15px;
    background-image: url("../../booking-app/info.jpg");
    background-size: cover;
}

.InfoBTN {
    width: 15px;
    height: 15px;
    background-image: url("../../booking-app/info.jpg");
    background-size: cover;
}

.tableSettigsRound_base {
    background-image: url("../../booking-app/Images/table_banquet.jpg");
    width: 50px;
    height: 50px;
    background-size: cover;
    text-align: left;
    caption-side: bottom;
}

.tableSettigsRound_changed {
    background-image: url("../../booking-app/Images/table_round.png");
    width: 50px;
    height: 50px;
    background-size: cover;
    text-align: left;
}

.textStyle {
    font-size: 34px;
    background-color: red;
    color: #ff282a;
}

.buttonLabel {
    font-size: 9px;
}

#MENU {
    background: url('../images/home-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.welcome-text {
    background-color: rgba(67, 106, 188, 0.7);

}

.welcome-text p {
    font-family: 'Cormorant Garamond', serif;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    right: -500px;
    text-align: center;
}

.welcome-text span {
    font-family: 'Cormorant Garamond', serif;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    /* right: -500px;*/
    margin-bottom: 10px;
    text-align: center;
}

.steps {
    font-family: 'Cormorant Garamond', serif;
    display: inline-block;

    padding: 5px;
    margin: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.noPerLabel {
    padding: 10px;
    left: 0px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: darkblue;
    border-bottom: #DEDEC9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
}

.noOfperson {
    padding: 7px;
    width: 200px;
}

.form-horizontal {
    margin: 15px;
}

.accesoriess {
    font-family: 'Cormorant Garamond', serif;
}

.reservation-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.accessories-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: left;
}

.boxForCheckingBckg {
    background-image: url('../images/candle-table.jpeg');
}

.boxForCheckingBckg_candle {
    background-image: url('../images/napkin.jpeg');
}

.boxForCheckingBckg_candle_visit_cards {
    background-image: url('../images/visit-card.jpeg');
}

.boxForCheckingBckg_aperitif {
    background-image: url('../images/aperitif.jpeg');
}

.boxForChecking {
    width: 100px;
    height: 67px;
    left: 70px;
    position: relative;
    background-color: #ffffff;
    display: inline-block;
    visibility: visible;
    border: 10px;
    border-color: #ff282a;
    z-index: 1;
}

.boxForChecking input {
    opacity: 0;
    width: 0;
    height: 0;
}

.boxForCheckingBckg, .boxForCheckingBckg_candle, .boxForCheckingBckg_candle_visit_cards, .boxForCheckingBckg_aperitif {
    background-color: #ff282a;
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 67px;
    background-size: cover;
    /*    margin-bottom: 5px;
        margin-right: 5px; */
    font-size: 0px;
    color: #ff282a;
    left: 0px;
}

.boxForCheckingBckg:before, .boxForCheckingBckg_candle:before, .boxForCheckingBckg_candle_visit_cards:before, .boxForCheckingBckg_aperitif:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 30px;

    background-image: url("../images/iconmonstr-check-mark-3.svg");
    background-size: cover;
    display: none;
}

input:checked + .boxForCheckingBckg:before, input:checked + .boxForCheckingBckg_candle:before, input:checked + .boxForCheckingBckg_candle_visit_cards:before, input:checked + .boxForCheckingBckg_aperitif:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../images/iconmonstr-check-mark-3.svg");
    background-size: cover;
    display: inline-block;
    top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 36px;
    /*  background-color: #3c763d;*/
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #ff282a;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "Nie";
    text-align: center;
    padding: 3px;
    font-size: 13px;
    height: 26px;
    width: 33px;
    left: 4px;
    bottom: 4px;
    border-width: 1px;
    border-radius: 15px;
    border-color: red;
    border-style: solid;
    /*   background-color: darkred; */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
}

input:checked + .slider:before {
    background-color: #FFFFFF;
    position: absolute;
    content: "Tak";
    height: 26px;
    width: 33px;
    left: 4px;
    bottom: 4px;
    border-width: 1px;
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(126px);
    transform: translateX(26px);
}

.cb2 {
    display: inline-block;
    font-family: 'Shrikhand', cursive;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: underline;
}

.cb2 {
    cursor: pointer;
}

.cb2:active {
    font-size: 40px;
}

.dialog-dish-modal .modal-body {
    background: lightgrey;
}

.nav-link .ng-binding {
    background-color: transparent;
}

.modal-dialog {
    position: relative;
    top: 50%;
}

.modalText {
    font-family: Cormorant+Garamond;
    font-size: 15px;
    margin-bottom: 10px
}

#canvas {

    /*   border-bottom: 1px solid rgba(0,0,0,0.3);
       background-color: #FFF;
       box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8); */
}

#canvasCircle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    box-shadow: 0 9px 20px -5px rgba(0, 0, 0, 0.8);
}

.columns {
    columns: 3;
}

/* MENU */
#main-menu .tab-pane {
    font-family: 'Cormorant Garamond', cursive;
    font-weight: bold;
    font-size: 25px;
    color: black;
    min-height: 300px;
}

